<% @worklogs.each do |worklog| %>
    <p class="author"><a href="<%= user_url worklog.author %>"><%= worklog.author.name() %></a></p>
    <div class="wiki">

      <table width="100%" style="border: 1px solid #000000; border-collapse: collapse;">
        <tr>
          <td width="50%" style="border: 1px solid #000000"><b>Today’s Activities</b></td>
          <td width="50%" style="border: 1px solid #000000"><b>Tomorrow’s Activities</b></td>
        </tr>
        <tr>
          <td style="border: 1px solid #000000"><%= textilizable(issue_links(worklog.today)) %></td>
          <td style="border: 1px solid #000000"><%= textilizable(worklog.tomorrow) %></td>
        </tr>
        <tr>
          <td colspan=2 style="border: 1px solid #000000"><b>Closed Activities</b></td>
        </tr>
        <tr>
          <td colspan=3 style="border: 1px solid #000000">
            <%= textilizable(worklog.closed) %>
          </td>
        </tr>
      </table>

    </div>
<% end %>
</br>
<%= textilizable(Setting.plugin_worklogs['WORKLOGS_MAIL_FOOTER']) %>
